.aboutMe {
    display: flex;
    justify-content: center;

    margin-top: 262px;
    margin-left: 61px;
    margin-right: 61px;

    flex-direction: column;
}

.photoForMeSection,
.myPassionSection,
.finalSection {
    position: relative;
}

.photoForMe__leftTextRightPhoto,
.finalSection__leftTextRightPhoto {
    display: flex;
    position: relative;
    justify-content: flex-end;

    gap: 230px;

    z-index: 1;
}

.photoForMe__HeaderWithText,
.myPassionSection__HeaderWithText,
.finalSection__HeaderWithText {
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
}

.photoForMe__Header,
.myPassion__Header,
.finalSection__Header {
    font-family: var(--font-mak);
    font-weight: 300;
    font-size: 50px;
    text-align: center;

    max-width: 636px;
}

.photoForMe__comment,
.myPassion__comment,
.finalSection__comment {
    position: absolute;

    max-width: 317px;

    bottom: 0;
}

.photoForMe__backgroundCircle,
.myPassion__leftBackText,
.myPassion__rightBackText,
.finalSection__backgroundCircle {
    position: absolute;
    z-index: 0;

}

.photoForMe__backgroundCircle {
    left: -319px;
    bottom: 82px;
}

.myPassionSection {
    margin: 350px 0;
}


.myPassion__Header {
    max-width: 929px;
    z-index: 1;
}

.myPassion__comment {
    position: static;

    margin-top: 97px;
}

.myPassion__leftBackText,
.myPassion__rightBackText {
    text-align: center;

    max-width: 671px;
}

.myPassion__leftBackText {
    left: -80px;
}

.myPassion__rightBackText {
    top: -270px;
    right: 0;
}

.finalSection__Header {
    max-width: 667px;
}

.finalSection__backgroundCircle {
    top: 200px;
    left: 400px;
}