.main {
    display: flex;
    /* align-items: center; */

    margin-top: 369px;
    margin-left: 148px;
    margin-right: 139px;

    font-family: var(--font-mak);
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    text-align: center;

    flex-direction: column;
}

.photoAndNum{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: baseline;
}


.bigNum{
    position: absolute;
    
    font-family: var(--font-bergamasco);
    font-style: normal;
    font-weight: 300;
    font-size: 400px;
    
    color: var(--color-for-photo-half-transparent);
    bottom: 26px;
}

.backTextHistory{
    left: 600px;
    top: 550px;
}

.backTextMoments{
    right: 360px;
    top: 600px;
}

.headerAndFirstAdv{
    display: flex;
    position: relative;
    align-items: flex-start;
    justify-content: space-between;
    /* gap: 250px; */
}

.firstAdvAndPhoto{
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    margin-left: 127px;

}

.firstAdv{
    margin: 212px 0;
    margin-left: 94px;

    max-width: 626px;
}

.headerAndPhoto{
    margin-top: 207px;
}

.header{
    margin-bottom: 207px;
}

.secondPhotoAndNum{
    margin-left: 112px;
}

.secondThirdAdv{
    display: flex;
    position: relative;

    top: -126px;

    gap: 23px;
}

.thirdAdvAndPhoto{
    display: flex;
    align-items: flex-start;
    
    width: 100%;

    flex-direction: column;
}

.thirdAdv{
    max-width: 516px;

    margin-top: 242px;
    margin-left: 246px;
}

.secondAdv{
    max-width: 651px;

    margin-top: 338px;
    margin-bottom: 211px;
}

.fourthPhotoAndNum{
    display: flex;
    justify-content: center;

    margin-left: 277px;
}

.lastPhotoAndText{
    position: relative;
    align-self: flex-start;

    top: -226px;
}

.backTextMemories{
    top: -200px;
    left: 300px;
}

.backTextMarselin{
    bottom:  100px;
    right: -920px;
}

.backTextMemories{
    display: none;
}

.backTextFeelings{
    display: none;
}

.firstPhotoTabletAndPhone{
    display: none;
}

@media screen and (max-width: 1740px) {
    .firstAdv{
        margin-left: 0;
    }

    .thirdAdv{
        margin-left: 40px;
    }
}


@media screen and (max-width: 1680px) {
    .main{
        margin-left: 20px;
        margin-right: 20px;
    }

    .firstAdvAndPhoto{
        margin-left: 20px;
    }
}

@media screen and (max-width: 1600px) {
    .backTextMarselin{
        right: -740px;
    }
}

@media screen and (max-width: 1385px) {
    .fourthPhotoAndNum{
        margin-left: 30px;
    }
}

@media screen and (max-width: 1300px) {
    .main{
        margin-top: 320px;
        align-items: center;
    }

    .main div {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .firstAdv,
    .thirdAdv,
    .secondAdv{
        margin: 190px 0;
    }

    .headerAndFirstAdv{
        flex-direction: column;
    }

    .firstAdvAndPhoto{
        order: 2;

        margin: 0;
    }

    .firstPhotoAndNum{
        margin-left: 230px;
        z-index: 1;
        order: 2;
    }

    .headerAndPhoto{
        display: flex;
        flex-direction: column;

        margin: 0;
    }
    
    .header{
        /* order: 2; */
        margin: 150px 0 150px 100px!important;
    }

    .headerAdvantages{
        margin: 0!important;
        margin: 150px 0!important;
    }
    
    .secondThirdAdv{
        position: relative;
        top: 0;
    }

    .thirdPhotoAndNum{
        margin-right: 318px;
        order: 2;
    }

    .secondAdvAdnPhoto{
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .secondPhotoAndNum{
        margin: 0;
        margin-right: 373px;
    }

    /* .secondAdv{
        order: 2;
    } */

    .fourthPhotoAndNum{
        margin-left: 242px;
    }

    .lastPhotoAndText{
        position: relative;
        top: 0;
        align-self: center;

        margin-right: 110px;
    }

    .lastPhotoAndNum{
        display: none!important;
    }

    .backTextHistory{
        left: 480px;
        top: 506px;
    }

    .backTextMoments{
        right: 398px;
        top: -814px;
        z-index: 0;
    }

    .backTextMemories{
        display: block;
        top: 524px;
        left: 373px;
    }

    .backTextMarselin{
        top: 100px;

    }

    .backTextFeelings{
        display: block;
        top: 487px;
        left: -155px;
    }
}


@media screen and (max-width: 992px) {
    .main{
        font-size: 40px;
        margin-top: 151px;
    }

    .firstPhoto,
    .secondPhoto,
    .thirdPhoto,
    .fourthPhoto,
    .lastPhoto,
    .firstPhotoTabletAndPhone{
        width: 389px!important;
        height: 620px!important;
    }

    .bigNum{
        font-size: 300px;
        text-align: center;
    }

    .secondPhotoAndNum{
        margin-right: 150px;
    }

    .firstPhotoAndNum{
        margin-left: 100px;
    }

    .firstAdv{
        max-width: 532px;
    }

    .thirdPhotoAndNum{
        margin-right: 30px;
    }

    .thirdAdv,
    .firstAdv,
    .secondAdv{
        margin: 150px 0;
    }

    .secondAdv{
        max-width: 523px;
    }

    .fourthPhotoAndNum{
        margin-left: 0;
        margin-right: 40px;
    }

    .firstPhotoTabletAndPhone{
        display: flex;
    }

    .backTextHistory{
        left: 334px;
        top: 448px
    }

    .backTextMoments{
        right: 247px;
        top: -762px;
    }

    .backTextMemories{
        top: 260px;
        left: 283px;
    }

    .backTextFeelings{
        top: 339px;
        left: -155px;
    }
}

@media screen and (max-width: 835px) {
    .backTextMoments{
        right: 185px;
        top: -747px;
    }

    .backTextMemories{
        top: 276px;
        left: 208px;
    }

    .backTextFeelings{
        top: 339px;
        left: -155px;
    }
}

@media screen and (max-width: 688px) {
    .backTextFeelings{
        top: 324px;
        left: 22px;
    }

    .backTextMemories{
        top: 269px;
        left: 258px;
    }

    .backTextMoments{
        right: 229px;
        top: -747px;
        z-index: 0;
    }

    .backTextHistory{
        left: 301px;
        top: 321px;
    }

    .headerAndFirstAdv{
        position: relative;
        z-index: 1;
    }

    .main{
        font-size: 30px;
        margin-top: 102px;
    }

    .bigNum{
        font-size: 180px;
    }

    .firstPhoto,
    .secondPhoto,
    .thirdPhoto,
    .fourthPhoto,
    .lastPhoto,
    .firstPhotoTabletAndPhone{
        width: 246px!important;
        height: 392px!important;
    }

    .headerAdvantages{
        margin: 90px 0!important;
    }

    .thirdAdv,
    .firstAdv,
    .secondAdv{
        margin: 90px 0;
    }

    .firstAdv{
        max-width: 307px;
    }

    .secondPhotoAndNum{
        margin-right: 40px;
    }

    .firstPhotoAndNum{
        margin-left: 30px;
    }
}