.header {
    margin-top: 70px;
    margin-left: 61px;
    margin-right: 61px;
}

.textAndDoublePhoto {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 230px;
}

.headerPartWithDescr {
    display: flex;
    align-items: center;
}

.descr {
    max-width: 499px;
    text-align: left;

    margin-left: 39px;
}

.rightDoublePhoto {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.doublePhoto {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 51px;
}

.photoAndCircleArrow {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    margin-top: 30px;
}

.backgroundTextDP {
    position: absolute;
    font-family: var(--font-header);
    font-weight: 600;
    font-size: 100px;

    color: var(--color-white);
}

.circleAndArrow {
    display: flex;
    gap: 23px;
}

@media screen and (min-width: 1920px) {
    .header {
        margin-top: 3.646vw;
        margin-left: 3.177vw;
        margin-right: 3.177vw;
    }
    
    .textAndDoublePhoto {
        gap: 11.979vw;
    }

    .descr {
        max-width: 25.99vw;
    
        margin-left: 2.031vw;
    }
    
    .doublePhoto {
        gap: 2.656vw;
    }
    
    .photoAndCircleArrow {
        margin-top: 1.563vw;
    }
    
    .backgroundTextDP {
        font-size: 5.208vw;
    }
    
    .circleAndArrow {
        gap: 1.198vw;
    }

    .doubleRightPhoto{
        width: 10.99vw!important;
        height: 16.458vw!important;
    }

    .doubleLeftPhoto{
        width: 12.292vw!important;
        height: 18.49vw!important;
    }

    .mainPhoto{
        width: 34.479vw!important;
        height: 20.833vw!important;
    }

    .headerArrow{
        width: 6.875vw!important;
        height: 6.875vw!important;
    }

    .headerArrowArrow{
        width: 2.604vw!important;
    }

    .nameCircle{
        width: 6.875vw!important;
        height: 6.875vw!important;
    }
}

@media screen and (max-width: 1845px) {
    .textAndDoublePhoto {
        gap: 180px;
    }

    .descr{
        max-width: 433px;
    }
}

@media screen and (max-width: 1720px) {
    .textAndDoublePhoto {
        gap: 100px;
    }
}

@media screen and (max-width: 1650px) {
    .textAndDoublePhoto {
        gap: 50px;
    }
}

@media screen and (max-width: 1590px) {
    .textAndDoublePhoto {
        gap: 190px;
    }

    .doubleRightPhoto,
    .backgroundTextDP {
        display: none;
    }
}

@media screen and (max-width: 1490px) {
    .textAndDoublePhoto {
        gap: 110px;
    }
}

@media screen and (max-width: 1430px) {
    .textAndDoublePhoto {
        justify-content: center;
    }

    .rightDoublePhoto {
        display: none;
    }

    .photoAndCircleArrow {
        margin-top: 70px;
    }

    .descr{
        max-width: 499px;
    }
}

@media screen and (max-width: 1130px) {
    .mainPhoto {
        width: 534px !important;
        height: 356px !important;
    }
}

@media screen and (max-width: 992px) {
    .header {
        margin-left: 39px;
        margin-right: 39px;
    }

    .textAndPhoto {
        display: flex;
        align-items: center;
        justify-content: center;

        flex-direction: column;
    }

    .headerArrow {
        width: 97px !important;
        height: 97px !important;
    }

    .headerArrow svg {
        width: 40px !important;
    }

    .descr {
        margin-top: 40px;
        margin-left: 100px;
        max-width: 300px;
    }

    .headerPartWithDescr {
        align-items: flex-start;
    }

    .mainPhoto {
        display: none;
    }

    .textAndDoublePhoto {
        display: block;
    }

    .rightDoublePhoto,
    .doubleRightPhoto,
    .backgroundTextDP {
        display: flex;
    }

    .rightDoublePhoto {
        margin-top: 40px;
    }

    .doublePhoto {
        gap: 40px;
        width: 100%;
    }

    .doubleRightPhoto {
        width: 100%!important;
        height: 510px !important;

        margin-top: 80px;
    }

    .doubleLeftPhoto {
        width: 100% !important;
        height: 510px !important;
    }

    .backgroundTextDP {
        font-size: 141px;
    }

    .photoAndCircleArrow{
        margin-top: 0;
    }
}

@media screen and (max-width: 830px) {
    .backgroundTextDP {
        font-size: 111px;
    }

    .doubleLeftPhoto {
        height: 454px !important;
    }

    .descr {
        margin-left: 39px;
    }
}

@media screen and (max-width: 750px) {
    .doublePhoto{
        justify-content: space-between;
    }

    .rightDoublePhoto{
        margin-top: 0px;
    }
}

@media screen and (max-width: 688px) {
    .rightDoublePhoto{
        margin-top: 55px;
    }

    .headerPartWithDescr{
        flex-direction: column;
    }

    .doublePhoto{
        gap: 16px;
    }
}

@media screen and (max-width: 650px) {
    .doubleRightPhoto {
        height: 432px !important;
    }

    .doubleLeftPhoto {
        height: 430px !important;
    }
}

@media screen and (max-width: 610px) {
    .header{
        margin-left: 25px;
        margin-right: 25px;    
    }

    .doubleRightPhoto {
        height: 329px !important;
    }

    .doubleLeftPhoto {
        height: 332px !important;
    }

    .backgroundTextDP{
        font-size: 90px;
    }

}

@media screen and (max-width: 538px) {

    .header{
        margin-top: 40px;
    }

    .photoAndCircleArrow{
        margin-top: 44px;
    }

    .doubleRightPhoto {
        width: 100%!important;
        height: 363px !important;

        margin-top: 31px;
    }

    .doubleLeftPhoto {
        width: 100% !important;
        height: 350px !important;
    }

    .backgroundTextDP{
        font-size: 60px;
    }

    .photoAndCircleArrow{
        margin-left: 20px;
    }

    .headerArrow{
        width: 75px!important;
        height: 75px!important;

        border-width: 1px;
    }

    .headerArrow path{
        stroke-width: 1px;
    }
}

@media screen and (max-width: 480px) {
    
    .doubleRightPhoto {
        width: 100%!important;
        height: 280px !important;

        margin-top: 31px;
    }

    .doubleLeftPhoto {
        width: 100% !important;
        height: 289px !important;
    }
}

@media screen and (max-width: 405px) {
    
    .doubleRightPhoto {
        width: 100%!important;
        height: 250px !important;

        margin-top: 31px;
    }

    .doubleLeftPhoto {
        width: 100% !important;
        height: 235px !important;
    }
}