.imagesGallery{
    display: grid;
    gap: 10.1px;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));

    width: 100%;
    padding: 0 61px;
    margin-top: 140px;
}

@media screen and (max-width: 992px) {
    .imagesGallery{
        margin-top: 115px;
    }
}

@media screen and (max-width: 688px) {
    .imagesGallery{
        margin-top: 80px;
    }
}

@media screen and (max-width: 600px) {
    .imagesGallery{
        padding: 0;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }
}

@media screen and (max-width: 500px) {
    .imagesGallery{
        margin-top: 60px;
    }
}