.list{
    display: flex;
    align-items: center;
    justify-content: center;

    flex-direction: column;
    z-index: 1;
}

@media screen and (max-width: 1590px) {
    .list{
        width: 100%;
    }
}