.priceScroll{
    display: flex;
    position: relative;
    align-items: center;
    gap: 55px;
}

.leftBoxText,
.rightBoxText{
    display: flex;
    position: absolute;
    flex-direction: column;
}

.leftBoxText{
    align-items: flex-end;
    left: -220px;
}

.rightBoxText{
    align-items: flex-start;
    right: -263px;
}

.firstBlockSecondText{
    margin-right: 9px;
}

.secondBlockSecondText{
    margin-left: 9px;
}

@media screen and (max-width: 1200px) {
    .priceScroll{
        margin-top: 40px;
    }
}

@media screen and (max-width: 850px) {
    .scrollButton{
        width: 110px!important;
        height: 110px!important;
    }

    .scrollButtonArrow{
        width: 33px!important;
    }
}

@media screen and (max-width: 688px) {
    .priceScroll{
        flex-direction: column;
        gap: 36px;
    }

    .leftBoxText,
    .rightBoxText{
        position: static;
        align-items: center;
    }

    .priceScroll{
        margin-top: 20px;
    }
}

@media screen and (max-width: 500px) {
    .priceScroll{
        margin-top: 30px;
    }

    .scrollButton{
        width: 100px!important;
        height: 100px!important;
    }

    .scrollButtonArrow{
        width: 33px!important;
    }
}