.priceScroll{
    display: flex;
    align-items: center;
    gap: 55px;
}

.leftBoxText,
.rightBoxText{
    display: flex;
    flex-direction: column;
}

.leftBoxText{
    align-items: flex-end;
}

.rightBoxText{
    align-items: flex-start;
}

.firstBlockSecondText{
    margin-right: 9px;
}

.secondBlockSecondText{
    margin-left: 9px;
}

@media screen and (max-width: 850px) {
    .priceScroll{
        gap: 44px;
    }

    .scrollButton{
        width: 90px!important;
        height: 90px!important;
    }

    .scrollButtonArrow{
        width: 33px!important;
    }
}

@media screen and (max-width: 688px) {
    .priceScroll{
        flex-direction: column;
        gap: 36px;
    }

    .leftBoxText,
    .rightBoxText{
        align-items: center;
    }
}