.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 190px;
}

.switchButtons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 53px;
}

.comment{
    display: flex;
    max-width: 800px;
    align-items: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 177px;
}

.photo{
    display: flex;
    margin-top: 171px;
}