.prices{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 61px;
    margin-top: 388px;
    gap: 184px;
}

.headerWithBackText{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 61px;
    
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.backTextMoments,
.backTextMagic{
    position: absolute;

    z-index: 0;
}

.backTextMoments{
    left: 0;
    top: -125px;
}

.backTextMagic{
    right: 0;
    top: 150px;
}