.service{
    display: flex;
    align-items: center;
    flex-direction: column;

    margin-top: 184px;
    gap: 186px;
}

.exclusiveScrollContainer{
    width: 346px;
    max-height: 474px;
}

.descriptionBlock{
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 221px;
}

.description,
.moreTextBlock{
    display: flex;
    align-items: center;
    flex-direction: column;

    gap: 76px;
}

.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.descriptionHeader{
    max-width: 719px;
}

.descriptionText{
    max-width: 490px;
}

.advantagesBlock,
.moreBlock{
    display: flex;
    align-items: center;
    
    gap: 305px;
}

.advantages{
    display: flex;
    align-items: center;

    gap: 10px;

    flex-direction: column;
}

.headerAndQuickAdvantages{
    display: flex;
    align-items: center;
    
    gap: 10px;
    margin-bottom: 50px;

    flex-direction: column;
}

.advantagesBlockHeader{
    display: flex;
    align-items: center;

    flex-direction: column;
}

.quickAdvantages{
    display: flex;

    font-family: var(--font-mak);
    font-style: normal;
    font-weight: 300;
    font-size: 24px;

    gap: 27px;
}

.moreScrollContainer{
    width: 450px;
    max-height: 530px;
}

@media screen and (max-width: 1720px) {
    .descriptionBlock{
        gap: 120px;
    }

    .advantagesBlock,
    .moreBlock{
        gap: 219px;
    }
}

@media screen and (max-width: 1590px) {
    .descriptionBlock{
        gap: 63px;
    }

    .advantagesBlock,
    .moreBlock{
        gap: 125px;
    }

    .service{
        margin-top: 125px;
    }
}

@media screen and (max-width: 1450px) {
    .service{
        gap: 125px;
    }

    .descriptionBlock,
    .advantagesBlock,
    .moreBlock{
        flex-direction: column;
    }

    .descriptionBlock,
    .advantagesBlock{
        gap: 125px;
    }

    .descriptionBlock,
    .moreBlock{
        flex-direction: column-reverse;
    }

    .description{
        gap: 70px;
    }

    .headerAndQuickAdvantages{
        gap: 20px;
    }
}

@media screen and (max-width: 1200px) {
    .image{
        width: 594px!important;
        height: 964px!important;
    }
}

@media screen and (max-width: 1000px) {
    .moreScrollContainer{
        width: 370px;
    }

    .exclusiveScrollContainer{
        width: 300px;
    }
}

@media screen and (max-width: 992px) {
    .descriptionText{
        max-width: 292px;
    }

    .descriptionHeader{
        max-width: 618px;
    }

    .service{
        gap: 130px;
        margin-top: 100px;
    }
}

@media screen and (max-width: 850px) {
    .service{
        margin-top: 90px;
    }

    .exclusiveScrollContainer,
    .moreScrollContainer{
        width: 317px!important;
        height: 505px!important;
    }
}

@media screen and (max-width: 688px) {
    .image{
        width: 434px!important;
        height: 660px!important;
    }

    .service{
        margin-top: 60px;
        gap: 90px;
    }

    .headerAndQuickAdvantages{
        margin-bottom: 35px;
    }

    .description{
        gap: 55px;
    }

    .descriptionBlock,
    .advantagesBlock,
    .moreBlock{
        gap: 90px;
    }

    .descriptionHeader{
        max-width: 525px;
    }

    .moreBlock{
        gap: 50px;
    }

    .moreTextBlock{
        gap: 30px;
    }

    .quickAdvantages{
        font-size: 21px;
    }

    .exclusiveScrollContainer{
        width: 280px!important;
    }

    .moreScrollContainer{
        width: 310px!important;
    }
}

@media screen and (max-width: 535px) {
    .image{
        width: 330px!important;
        height: 520px!important;
    }
}

@media screen and (max-width: 500px) {
    .moreTextBlock{
        gap: 25px;
    }
}

@media screen and (max-width: 410px) {
    .exclusiveScrollContainer{
        width: 268px!important;
    }
}