.prices{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin: 0 61px;
    margin-top: 388px;
    gap: 184px;
}

.headerWithBackText{
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 0 61px;
    
    flex-direction: column;
}

.header{
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.backTextMoments,
.backTextMagic{
    position: absolute;

    z-index: 0;
}

.backTextMoments{
    left: 0;
    top: -125px;
}

.backTextMagic{
    right: 0;
    top: 150px;
}

@media screen and (max-width: 1200px) {
    .prices{
        margin-top: 330px;
    }
}

@media screen and (max-width: 992px) {
    .prices{
        margin-top: 280px;
        gap: 110px;
    }
}

@media screen and (max-width: 688px) {
    .prices{
        margin-top: 170px;
        margin-left: 29px;
        margin-right: 29px;

        gap: 80px;
    }

    .backTextMoments{
        left: 0;
        top: -50px;
    }
    
    .backTextMagic{
        right: 0;
        top: 180px;
    }
}

@media screen and (max-width: 420px) {
    .backTextMagic{
        right: -75px;
    }

    .backTextMoments{
        left: 13px;
    }
}