@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #343434;
  --color-almost-transparent: #F3F3F3;
  --color-white: #FFFFFF;
  --color-backgroundBbutton: rgba(0, 0, 0, 0.26);
  --color-red: #FF7373;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
  line-height: 1;
  transition: all .2s ease;
  text-transform: uppercase;
}

path {
  transition: all .2s ease;
}

button:hover {
  border-color: var(--color-red);
  color: var(--color-red);
  background: transparent;
  background-color: transparent;
}

button:hover path {
  fill: var(--color-red);
}

button:active,
button:active path {
  border-color: transparent;
  /* color: transparent; */
  fill: transparent;
  stroke: var(--color-red);
  background-color: transparent;
  background: transparent;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bergamasco);
  font-style: normal;
  font-weight: 300;
  font-size: 170px;
  text-align: center;

  color: #343434;
}

h2 {
  font-size: 170px;
}

h3 {
  font-size: 100px;
}

h4 {
  font-family: var(--font-mak);
  font-weight: 100;
  font-size: 70px;
}

.paragraphTypical,
.paragraphSmaller {
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: 24px;
  text-align: center;

  color: #343434;
}

.paragraphSmaller {
  font-size: 20px;
}

.backgroundTextBig {
  font-family: var(--font-bergamasco);
  font-style: normal;
  font-weight: 300;
  font-size: 200px;

  color: #F3F3F3;
}

.backgroundTextSmall {
  font-size: 100;
}

.star {
  animation: starAppearingDisappearing 2s 1s cubic-bezier(.71, 0, 0, 1) infinite;
}

@keyframes starAppearingDisappearing {

  0%,
  100% {
    transform: scale(1);
  }

  50% {
    transform: scale(0);
  }
}



.test{
  animation: test linear;
  animation-timeline: scroll();
}

@keyframes test {
  0%{
    filter: saturate(0);
  }
  50%{
    filter: saturate(100);
  }
  100%{
    filter: saturate(0);
  }
}