@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-black: #343434;
  --color-almost-transparent: #F3F3F3;
  --color-white: #FFFFFF;
  --color-backgroundBbutton: rgba(0, 0, 0, 0.26);
  --color-red: #FF7373;
  --color-circle-stroke: #b6b6b6;
  --color-for-photo-half-transparent: rgba(255, 255, 255, 0.4);
  --color-special-back-text-advantages: rgba(52, 52, 52, 0.05);
  --color-list-unactive: #AEAEAE;
  --linear-fading: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 73.86%);
}

::selection{
  background-color: var(--color-red);
  color: var(--color-black);
}
::-moz-selection{
  background-color: var(--color-red);
  color: var(--color-black);
}

* {
  box-sizing: border-box;
}

html,
:host {
  line-height: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  color: var(--color-black);
}

button {
  line-height: 1;
  transition: all .2s ease;
  text-transform: uppercase;
}

path {
  transition: all .2s ease;
}

button:hover {
  border-color: var(--color-red);
  color: var(--color-red);
  background: transparent;
  background-color: transparent;
}

button:hover path {
  fill: var(--color-red);
}

button:active,
button:active path {
  border-color: transparent;
  fill: transparent;
  stroke: var(--color-red);
  background-color: transparent;
  background: transparent;
}

a {
  color: inherit;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-bergamasco);
  font-style: normal;
  font-weight: 300;
  font-size: 170px;
  text-align: center;
  text-transform: uppercase;

  display: inline-block;

}

h2 {
  font-size: 120px;
}

h3 {
  font-size: 100px;
}

h4 {
  font-family: var(--font-mak);
  font-weight: 100;
  font-size: 70px;
  text-transform: none;
}

.paragraphTypical,
.paragraphSmaller {
  font-family: var(--font-raleway);
  font-weight: 300;
  font-size: 24px;
  text-align: center;
}

.paragraphSmaller {
  font-size: 20px;
}

@media screen and (max-width: 1180px) {
  h1 {
    font-size: 140px;
  }
}

@media screen and (max-width: 992px) {
  h1 {
    font-size: 100px;
  }

  h2 {
    font-size: 90px;
  }

  h3 {
    font-size: 80px;
  }

  h4 {
    font-size: 55px;
  }

  .paragraphTypical{
    font-size: 18px;
  }

  .paragraphSmaller{
    font-size: 20px;
  }
}

@media screen and (max-width: 688px) {
  h1 {
    font-size: 70px;
  }

  h2 {
    font-size: 60px;
  }

  h3 {
    font-size: 60px;
  }

  h4 {
    font-size: 30px;
  }

  .paragraphTypical{
    font-size: 18px;

    font-family: var(--font-raleway);
  }

  .paragraphSmaller{
    font-size: 18px;
  }
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 55px;
  }

  
  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 45px;
  }
}