.carousel{
    display: grid;
    grid-auto-flow: column;
    z-index: 0;
    width: 100%;
    overflow: hidden;
}
.paralax{
    display: flex;
   flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}




