.main{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;

    gap: 120px;
    margin-top: 105px;
}


.leftPhoto,
.rightPhoto{
    object-fit: cover;
}

.leftPhoto{
    margin-top: 343px;
}

.textAndbutton{
    display: flex;
    align-items: center;
    
    max-width: 787px;
    gap: 108px;

    flex-direction: column;
}

.rightPhoto{
    align-self: baseline;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

@media screen and (max-width: 1400px) {
    .main{
        flex-direction: column;

        gap: 119px;
        margin-top: 119px;
    }

    .leftPhoto{
        display: none;
    }

    .rightPhoto{
        width: 601px!important;
        height: 550px!important;

        align-self: auto;
        margin-bottom: 76px;
    }

    .textAndbutton{
        gap: 34px;

        max-width: 787px;
    }
}

@media screen and (max-width: 992px) {
    .textAndbutton{
        max-width: 453px;
    }

    .rightPhoto{
        width: 476px!important;
        height: 436px!important;
    }
}

@media screen and (max-width: 688px) {
    .main{
        gap: 76px;
        margin-top: 70px;
    }

    .textAndbutton{
        max-width: 296px;
    }

    .rightPhoto{
        width: 272px!important;
        height: 162px!important;

        margin-bottom: 66px;
        margin-right: 130px;
    }

    .leftPhoto{
        display: block;

        width: 264px!important;
        height: 190px!important;

        margin: 0;
    }
}