.buttonScroll {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1.5px solid #343434;
}

.wrapper{
    position: relative;
}

.buttonScroll svg{
    position: absolute;
    right: 0;
    top: -5px;
}

.buttonScroll_arrow{
    position: static!important;
}

.buttonScroll:hover path{
    fill: transparent;
    stroke: var(--color-red);
}

/* @media screen and (max-width: 992px) {
    .buttonScroll{
        width: 90px;
        height: 90px;
    }
} */

/* 
@media screen and (max-width: 538px) {
    .buttonScroll path{
        stroke-width: 1px;
    }

    .buttonScroll_arrow{
        width: 35px!important;
    }

    .buttonScroll{
        border-width: 1px;
    }
} */