.buttonSwitches{
    display: flex;
}

.buttonSwitchesArrow{
    margin-top: 5px;
    width: 36px;
}

.buttonSwitches:hover path{
    fill: transparent;
    stroke: var(--color-red);
}

.buttonSwitches:active .wrapper path{
    fill: var(--color-red);
    stroke: transparent;
}

@media screen and (max-width: 1400px) {
    .buttonSwitchesArrow{
        width: 34px;
    }
}

@media screen and (max-width: 1100px) {
    .buttonSwitchesArrow{
        width: 32px;
    }
}

@media screen and (max-width: 688px) {
    .buttonSwitchesArrow{
        width: 27px;
    }
}

@media screen and (max-width: 500px) {
    .buttonSwitchesArrow{
        width: 25px;
    }
}

