.main {
    font-family: var(--font-header);
    font-weight: 600;
    font-size: 25px;
    text-transform: uppercase;

    min-width: 220px;
    height: 42px;

    padding: 5px 13px 0 13px;

    border: 1.5px solid #343434;
    border-radius: 26px;

    transition: all .3s ease;

    flex-direction: column;
}

.textWithArrow {
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

.textWithArrow span {
    width: 100%;
    text-align: center;
}

.textWithArrow svg {
    width: 22px;
    transition: all .3s ease;
}

.downArrow {
    transform: rotate(180deg);
}

.upArrow {
    transform: rotate(0deg);
}

.open {
    padding: 5px 13px 16px 13px;
    border-radius: 20px;
    justify-content: normal;
    height: 211px;

    background-color: var(--color-white);
}

.textAndArrowWithVariant{
    display: flex;
    gap: 8px;
}

.list {
    max-height: 145px;
    margin-top: 19px;

    font-size: 19px;

    overflow-y: auto;
}

.dropDownList {
    position: relative;
}

.dropDownList::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 68px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 77.15%);
    bottom: -2px;

    pointer-events:none;
}

.listI {
    display: flex;
    align-items: center;
    flex-direction: column;
    animation: open .6s ease;

    text-align: center;
}

.listI span{
    cursor: pointer;
}

.listI::after {
    content: "";
    border: 1px solid var(--color-black);
    margin: 17px 0;
    width: 75%;
}

.listI:last-child::after {
    content: "";
    border: 0px;
    margin-top: 40px;
}

@keyframes open {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media screen and (max-width: 688px) {
    .main{
        font-size: 21px;
        border-radius: 20px;

        height: 41px;
        padding: 8px 16px 5px 8px;
    }

    .list{
        font-size: 18px;
        margin-top: 22px;
    }

    .open{
        min-height: 203px;
        border-radius: 17px;
        padding-bottom: 12px;
    }

    .dropDownList::after {
        bottom: 0;
        width: 100%;
    }
}