.wrapper{
    position: relative;
}

.listScrollContainer {
    display: flex;
    align-items: center;

    gap: 32px;
    padding: 0 10px;

    flex-direction: column;
    overflow-y: auto;
}

.shading {
    position: absolute;
    
    width: 100%;
    height: 163px;

    bottom: 0;
    background: var(--linear-vertical-fading-bottom-to-top);
    pointer-events: none;
}

.line {
    border: 1px solid var(--color-list-unactive);
    width: 83%;
}


.line:last-child {
    display: none;
}

.text:last-of-type{
    margin-bottom: 130px;
}

.text:first-of-type{
    margin-top: 20px;
}

@media screen and (max-width: 688px) {
    .line{
        border-width: .7px;
    }
}