.nameCircle {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  font-family: var(--font-bergamasco);
  font-style: normal;
  font-weight: 600;
  font-size: 31px;
  text-align: center;
}

.text {
  position: absolute;
}

.circle {
  object-fit: contain;
  height: unset;
  animation: spin 18s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 992px) {
  .nameCircle{
    width: 97px!important;
    height: 97px!important;
  }

  .text{
    font-size: 23px;
  }
}

@media screen and (max-width: 538px) {
  .nameCircle{
    width: 80px!important;
    height: 80px!important;
  }

  .text{
    font-size: 19px;
  }
}