.star {
    animation: starAppearingDisappearing 2s 1s cubic-bezier(.71, 0, 0, 1) infinite;
}

@keyframes starAppearingDisappearing {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(0);
    }
}

@media screen and (max-width: 992px) {
    .star{
        width: 11px;
    }
}

@media screen and (max-width: 688px) {
    .star{
        margin-left: 2px;
    }
}